.emojiContainer {
  position: relative;
  width: 100%;
  white-space: nowrap;
  gap: 5px;
  display: flex;
  font-weight: 400;
}

.commonButtonStyle,
.moreEmojiButtonStyle,
.addEmojiButtonStyle {
  display: inline-block;
  vertical-align: middle;
  gap: 4px;
  border-radius: 50px;
  width: 67px;
  height: 31px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  border: none;
}

.moreEmojiButtonStyle {
  margin-right: 3px;
}


.commonButtonStyle {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.moreEmojiButtonStyle {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.addEmojiButtonStyle {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.emoji {
  width: auto;
  min-width: 52px;
  height: 31px;
  padding: 6px;
  gap: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.addBtn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.addBtn p {
  color: var(--color-black);
  white-space: nowrap;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  height: 70px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.shareLink,
.editLink {
  color: var(--color-green-300);
}

.deleteLink {
  color: var(--color-gray-300);
}

.divider,
.divider:nth-of-type(2) {
  color: var(--color-green-300);
}

.divider:nth-of-type(2) {
  color: var(--color-gray-200);
}

.emojis {
  display: flex;
  gap: 8px;
}

.emojis img {
  width: 24px;
  height: 24px;
}

.emojiPickerContainer {
  z-index: 1000;
  position: fixed;
  top: 27%;
  left: 20%;
}

.moreEmojisModal {
  position: absolute;
  background: white;
  padding: 12px;
  gap: 5px;
  border: 1px solid #DDDDDD;
  z-index: 1001;
  border-radius: 15px;
  display: flex;
  width: 257px;
  flex-wrap: wrap;
  align-items: flex-start;
  height: auto;
  top: 100%;
  left: 0%;
}

@media screen and (min-width: 744px) {
  .commonButtonStyle,
  .moreEmojiButtonStyle,
  .addEmojiButtonStyle {
    font-size: 16px;
    font-weight: 400;
    padding: 6px 8px;
  }

  .header {
    flex-wrap: nowrap;
  }

  .nav {
    gap: 16px;
  }
}

@media screen and (max-width: 743px) {
  .commonButtonStyle,
  .moreEmojiButtonStyle,
  .addEmojiButtonStyle {
    font-size: 14px;
    font-weight: 300;
    padding: 4px 6px;
  }

  .emoji {
    min-width: 48px;
  }

  .moreEmojisModal {
    width: 233px;
  }

  .emojiPickerContainer {
    transform: scale(0.7);
    top: 16%;
    left: 20%;
  }
}

.commonButtonStyle span,
.moreEmojiButtonStyle span {
  color: white;
}