.emojiContainer {
  position: relative;
  width: 100%;
  white-space: nowrap;
  gap: 5px;
  display: flex;
}

.commonButtonStyle,
.moreEmojiButtonStyle,
.addEmojiButtonStyle {
  display: inline-block;
  vertical-align: middle;
  gap: 5px;
  border-radius: 50px;
  width: 67px;
  height: 31px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  border: none;
}

.moreEmojiButtonStyle {
  margin-right: 3px;
}


.commonButtonStyle {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.moreEmojiButtonStyle {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.addEmojiButtonStyle {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.emoji {
  width: auto;
  min-width: 55px;
  height: 31px;
  padding: 6px;
  gap: 5px;
  display: inline-flex;
  align-items: center;
}

.addBtn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.addBtn p {
  color: var(--color-black);
  white-space: nowrap;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  height: 70px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.shareLink,
.editLink {
  color: var(--color-green-300);
}

.deleteLink {
  color: var(--color-gray-300);
}

.divider,
.divider:nth-of-type(2) {
  color: var(--color-green-300);
}

.divider:nth-of-type(2) {
  color: var(--color-gray-200);
}

.emojis {
  display: flex;
  gap: 8px;
}

.emojis img {
  width: 24px;
  height: 24px;
}

.emojiPickerContainer {
  position: absolute;
  z-index: 1000;
}

.moreEmojisModal {
  position: absolute;
  background: white;
  padding: 12px;
  gap: 10px;
  border: 1px solid #DDDDDD;
  z-index: 1001;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap; /* 이모지가 너비를 넘어가면 줄바꿈 */
  align-items: flex-start; /* 아이템들을 컨테이너의 시작 부분에 정렬 */
  height: auto; /* 내용에 따라 높이 자동 조절 */
}

@media screen and (min-width: 744px) {
  .commonButtonStyle,
  .moreEmojiButtonStyle,
  .addEmojiButtonStyle {
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
  }

  .header {
    flex-wrap: nowrap;
  }

  .nav {
    gap: 16px;
  }
}

.commonButtonStyle span,
.moreEmojiButtonStyle span {
  color: white;
}