.emojiContainer {
  position: relative;
  left: 26px;
  width: 100%; /* 컨테이너 너비 고정 */
  white-space: nowrap; /* 버튼들이 한 줄에 표시되도록 설정 */
}

.commonButtonStyle,
.moreEmojiButtonStyle,
.addEmojiButtonStyle {
  display: inline-block; /* inline-block으로 변경 */
  vertical-align: middle; /* 세로 정렬 설정 */
  gap: 5px;
  border-radius: 50px;
  width: 67px;
  height: 30px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  margin-right: 5px;
}

/* 마지막 요소의 오른쪽 간격 제거 */
.commonButtonStyle:last-child,
.moreEmojiButtonStyle:last-child,
.addEmojiButtonStyle:last-child {
  margin-right: 0;
}

.commonButtonStyle {
  background-color: rgba(0, 0, 0, 0.5);
}

.moreEmojiButtonStyle {
  background-color: rgba(0, 0, 0, 0.3);
}

.addEmojiButtonStyle {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.emoji {
  width: 56px;
  height: 31px;
}

.addBtn {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.addBtn p {
  color: var(--color-black);
  white-space: nowrap;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  height: 70px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.shareLink,
.editLink {
  color: var(--color-green-300);
}

.deleteLink {
  color: var(--color-gray-300);
}

.divider,
.divider:nth-of-type(2) {
  color: var(--color-green-300);
}

.divider:nth-of-type(2) {
  color: var(--color-gray-200);
}

.emojis {
  display: flex;
  gap: 8px;
  max-width: 240px;
}

.emojis img {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 744px) {
  .commonButtonStyle,
  .moreEmojiButtonStyle,
  .addEmojiButtonStyle {
    font-size: 16px;
  }

  .header {
    flex-wrap: nowrap;
  }

  .nav {
    gap: 16px;
  }
}