.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 942px;
  margin: 0px 15px 0px 15px;
  padding-top: 20px;
}

.box {
  background-color: var(--bg-white);
  width: 100%;
  max-width: 1248px;
  padding: 16px;
  border-radius: var(--radius-md);
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.navTxt {
  font-weight: 800;
  font-size: 24px;
  color: var(--text-black);
}

.navBtnContainer {
  display: flex;
  gap: 8px;
  row-gap: 16px;
}

.navBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-gray);
  border-radius: 15px;
  border: 1px, solid, var(--color-gray-200);
  padding: 7px 6px 7px 10px;
  font-weight: 500;
  font-size: 16px;
  gap: 2px;
}

.pointContainer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin: 16px 0 24px 0;
}

.pointTxt {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-gray);
}

.point {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px, solid, var(--color-gray-200);
  border-radius: 50px;
  padding: 8px 12px;
  gap: 4px;
  height: 35px;
  margin-right: auto;
}

.point img {
  width: 19px;
  height: 19px;
}

.pointTotalTxt {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-black);
}

.focusContainer {
  display: flex;
  justify-content: center;
  border-radius: var(--radius-md);
  border: 1px, solid, var(--color-gray-200);
  padding: 24px 16px 50px 16px;
  height: 358px;
}

.focus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.focusTxt {
  color: var(--text-black);
  font-weight: 800;
  font-size: 24px;
}

.focusSelectTimeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px, solid, var(--color-gray-200);
  border-radius: 50px;
  padding: 5px 8px;
  gap: 4px;
}

.focusSelectTimeContainer p {
  font-weight: 500;
  font-size: 16px;
}

.focusTimerContainer {
  display: flex;
  justify-content: center;
  width: 280px;
  color: var(--text-black);
  font-weight: 800;
  font-size: 80px;
}

.timeover {
  color: var(--text-gray);
}

.timeover p {
  color: var(--text-gray);
}

.timeover input {
  color: var(--text-gray);
}

.focusMinTimer {
  text-align: end;
  color: var(--text-black);
  font-weight: 800;
  font-size: 80px;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
}

.focusSecTimer {
  text-align: start;
  color: var(--text-black);
  font-weight: 800;
  font-size: 80px;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
}

.countDown {
  color: var(--error-light);
}

.focusBtnContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.focusPauseBtn {
  background-color: var(--text-green);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
  padding: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.focusPauseBtn img {
  width: 26.4px;
  height: 26.4px;
}

.focusStartBtn {
  color: var(--text-white);
  background-color: var(--bg-green);
  font-weight: 800;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  padding: 10px 28px 10px 20px;
  gap: 8px;
  cursor: pointer;
  height: 45px;
}

.focusStartBtn.disable {
  background-color: var(--text-gray);
  cursor: default;
}

.focusStartBtn p {
  width: 60px;
}

.focusResetBtn {
  background-color: var(--bg-green);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
  padding: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.focusResetBtn img {
  width: 26.4px;
  height: 26.4px;
}

.focusStartBtn img {
  width: 24px;
  height: 24px;
}

.toastContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toastWarning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 202px;
  height: 45px;
  border-radius: 12px;
  background-color: var(--bg-pink);
  color: var(--error-light);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 40px;
}

.toastPoint {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 202px;
  height: 45px;
  border-radius: 12px;
  background-color: var(--bg-green-light);
  color: var(--text-green);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 40px;
}

@media (min-width: 744px) {
  .container {
    margin: 0px 24px 0px 24px;
    padding-top: 16px;
  }

  .box {
    padding: 24px;
  }

  .navTxt {
    font-size: 32px;
    margin-bottom: 0;
  }

  .navBtnContainer {
    gap: 16px;
  }

  .navBtn {
    padding: 11px 16px 11px 24px;
  }

  .pointContainer {
    margin: 16px 0 40px 0;
  }

  .focusContainer {
    padding: 40px 24px;
    height: 430px;
  }

  .focusTimerContainer {
    font-size: 120px;
    width: 430px;
  }

  .focusMinTimer {
    font-size: 120px;
  }

  .focusSecTimer {
    font-size: 120px;
  }

  .focusBtnContainer {
    gap: 24px;
  }

  .focusPauseBtn {
    width: 64px;
    height: 64px;
  }

  .focusPauseBtn img {
    width: 35.2px;
    height: 35.2px;
  }

  .focusStartBtn {
    font-size: 28px;
    padding: 8px 105px 8px 78px;
    gap: 16px;
    height: 60px;
  }

  .focusStartBtn p {
    width: 90px;
  }

  .focusStartBtn img {
    width: 44px;
    height: 44px;
  }

  .focusResetBtn {
    width: 64px;
    height: 64px;
  }

  .focusResetBtn img {
    width: 35.2px;
    height: 35.2px;
  }

  .toastWarning {
    width: 223px;
    height: 47px;
    font-size: 16px;
  }

  .toastPoint {
    width: 223px;
    height: 47px;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .container {
    height: 980px;
    margin: 0px 24px;
    padding-top: 53.5px;
  }

  .box {
    width: 100%;
    max-width: 1248px;
    padding: 40px;
  }

  .pointContainer {
    margin: 16px 0 20px 0;
  }

  .focusContainer {
    height: 546px;
  }

  .focusTimerContainer {
    font-size: 150px;
    width: 517px;
  }

  .focusMinTimer {
    font-size: 150px;
  }

  .focusSecTimer {
    font-size: 150px;
  }
}
