.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 712px;
  margin: 0px 15px 0px 15px;
  padding-top: 20px;
}

.box {
  background-color: var(--bg-white);
  width: 100%;
  max-width: 1248px;
  padding: 16px;
  border-radius: var(--radius-md);
}

.focusContainer {
  display: flex;
  justify-content: center;
  border-radius: var(--radius-md);
  border: 1px, solid, var(--color-gray-200);
  padding: 24px 16px 50px 16px;
  height: 358px;
}

.focus {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.focusTxt {
  display: flex;
  align-items: center;
  height: 29px;
  color: var(--text-black);
  font-weight: 800;
  font-size: 24px;
}

@media (min-width: 744px) {
  .container {
    margin: 0px 24px 0px 24px;
    padding-top: 16px;
    height: 942px;
  }

  .box {
    padding: 24px;
  }

  .focusContainer {
    padding: 40px 24px;
    height: 510px;
  }
}

@media (min-width: 1200px) {
  .container {
    height: 980px;
    margin: 0px 24px;
    padding-top: 53.5px;
  }

  .box {
    width: 100%;
    max-width: 1248px;
    padding: 40px;
  }

  .focusContainer {
    height: 546px;
  }
}
