.habitCreateModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  width: 648px;
  min-height: 841px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  z-index: 10000;
}
.headline {
  color: var(--color-black);
  font-weight: 800;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.singleHabit {
  display: inline-block;
  min-width: 100px;
  max-width: 380px;
  width: auto;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-gray-300);
  padding: 5px;
  text-align: center;
  color: var(--color-gray-300);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}
.singleHabitBox {
  display: grid;
  place-items: center;
  width: 400px;
  height: 54px;
  border-radius: 20px;
  background: var(--color-gray-100);
}
.wholeHabitsBox {
  margin-left: 24px;
}
.singleHabitBoxWithTrashIc {
  display: flex;
  margin-bottom: 20px;
  margin-left: 40px;
}

.trashIcon {
  width: 24px;
  height: 24px;
  background-color: var(--color-pink-100);
  padding: 14px 16px;
  border-radius: 35px;
  margin-left: 8px;
  box-sizing: content-box;
  cursor: pointer;
}
.createBox {
  display: grid;
  place-items: center;
  width: 400px;
  height: 54px;
  border-radius: 20px;
  border: 2px solid var(--color-black);
  text-align: center;
  margin-bottom: 24px;
  margin-left: 40px;
  cursor: pointer;
}
.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.close {
  background-color: var(--color-gray-200);
  margin-right: 12px;
  color: var(--color-white);
  text-shadow: 0px -2px 0px var(--color-gray-300);
  display: grid;
  place-items: center;
  width: 288px;
  height: 58px;
  border-radius: 16px;
  border: none;
  font-family: var(--font-jejudoldam);
  font-weight: 400;
  font-size: 18px;
  padding-top: 5px;
  cursor: pointer;
}
.confirmRevision {
  background-color: var(--color-green-200);
  margin-left: 12px;
  color: var(--color-white);
  text-shadow: 0px -2px 0px var(--color-green-300);
  display: grid;
  place-items: center;
  width: 288px;
  height: 58px;
  border-radius: 16px;
  border: none;
  font-family: var(--font-jejudoldam);
  font-weight: 400;
  font-size: 18px;
  padding-top: 5px;
  cursor: pointer;
}
