.container {
  border: 1px solid var(--color-gray-200);
  border-radius: 20px;
  padding-left: 16px;
  padding-top: 16px;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.title {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 16px;
}

.gridContainer {
  display: grid;
  width: 100%;
}

.headerRow,
.habitRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}

.emptyHeaderCell {
  width: 122px;
  grid-column: 1;
}

.daysHeader {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  color: var(--color-gray-300);
  font-size: 13px;
  gap: 0;
}

.dayCell {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.dayCell:nth-child(n + 4) {
  display: none;
}

.habitNameCell {
  width: 122px;
  padding: 15px 16px;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-black);
  text-align: right;
  line-height: 100%;
}

.statusCells {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 0;
}

.statusCell:nth-child(n + 4) {
  display: none;
}

.statusCell {
  height: 64px;
  padding: 14px;
}

.stickerWrapper {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticker {
  width: 36px;
  height: 36px;
  display: block;
}

.habitRow {
  height: 64px;
}

@media screen and (min-width: 744px) {
  .container {
    padding: 24px;
  }

  .title {
    font-size: 24px;
  }

  .daysHeader {
    grid-template-columns: repeat(7, 1fr);
  }

  .emptyHeaderCell {
    width: 152px;
  }
  .dayCell {
    font-size: 18px;
  }

  .dayCell:nth-child(n + 4) {
    display: block;
  }

  .habitNameCell {
    width: 152px;
    font-size: 18px;
    padding: 11px 24px;
  }

  .statusCells {
    grid-template-columns: repeat(7, 1fr);
  }

  .statusCell:nth-child(n + 4) {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .emptyHeaderCell {
    width: 246px;
  }

  .habitNameCell {
    width: 246px;
    padding: 21.5px 24px;
  }
}
