.cardListContainer {
  margin-top: 10px;
  width: 100%;
}

.skeletonContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 600px;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  color: var(--text-gray);
  font-size: 20px;
}

@media screen and (min-width: 744px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .cardList {
    grid-template-columns: repeat(3, 1fr);
  }
}
