.cardListContainer {
  width: 100%;
}

.skeletonContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 600px;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  color: var(--text-gray);
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 744px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .noData {
    font-size: 20px;
  }
}

@media screen and (min-width: 1250px) {
  .cardList {
    grid-template-columns: repeat(3, 357px);
  }
}
