* {
  box-sizing: border-box;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  gap: 20px;

  margin-top: 25px;
  padding: 0 20px;
  box-sizing: border-box;

  padding-bottom: 100px;
}
