.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  gap: 16px;

  margin-top: 20px;
  padding: 0 16px;
  box-sizing: border-box;

  padding-bottom: 40px;
}
