.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  height: 240px;
  padding: 30px;
  border: 1px solid #dddddd;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--bg-green-light);
  position: relative;
}

.card:hover {
  transform: translateY(-10px);
}

.card[data-bg^='bg1'] {
  background-color: var(--bg-blue);
}
.card[data-bg^='bg2'] {
  background-color: var(--bg-yellow);
}
.card[data-bg^='bg3'] {
  background-color: var(--bg-pink);
}
.card[data-bg^='bg4'] {
  background-color: var(--bg-green-light);
}
.card[data-bg^='bg5'],
.card[data-bg^='bg6'],
.card[data-bg^='bg7'],
.card[data-bg^='bg8'] {
  background-color: rgba(0, 0, 0, 0.1);
}

.backgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  pointer-events: none;
}

.cardHeaderContainer {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headerTop {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.pointsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 90px;
  height: 24px;
  padding: 4px 0;
  border-radius: 20px;
  border: 1px solid rgb(223, 223, 223);
}

.card[data-bg^='bg']:not([data-bg^='bg5']):not([data-bg^='bg6']):not(
    [data-bg^='bg7']
  ):not([data-bg^='bg8'])
  .pointsContainer {
  background-color: rgba(255, 255, 255, 0.3);
}

.card[data-bg^='bg5'] .pointsContainer,
.card[data-bg^='bg6'] .pointsContainer,
.card[data-bg^='bg7'] .pointsContainer,
.card[data-bg^='bg8'] .pointsContainer {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
}

.pointsText {
  font-weight: 600;
  font-size: 12px;
}

.card[data-bg^='bg']:not([data-bg^='bg5']):not([data-bg^='bg6']):not(
    [data-bg^='bg7']
  ):not([data-bg^='bg8'])
  .pointsText {
  color: var(--text-gray);
}

.card[data-bg^='bg5'] .pointsText,
.card[data-bg^='bg6'] .pointsText,
.card[data-bg^='bg7'] .pointsText,
.card[data-bg^='bg8'] .pointsText {
  color: var(--text-white);
}

.cardTitleContainer {
  display: flex;
  width: 80%;
  gap: 5px;
  font-weight: 800;
  font-size: 16px;
  color: var(--text-black);
}

.cardTitle {
  line-height: 1.4;
}

.card[data-bg='bg1'] .authorName {
  color: var(--text-blue);
}

.card[data-bg='bg2'] .authorName {
  color: var(--text-yellow);
}

.card[data-bg='bg3'] .authorName {
  color: var(--text-pink);
}

.card[data-bg='bg4'] .authorName {
  color: var(--text-green);
}
.card[data-bg^='bg5'] .authorName,
.card[data-bg^='bg6'] .authorName,
.card[data-bg^='bg7'] .authorName,
.card[data-bg^='bg8'] .authorName,
.card[data-bg^='bg5'] .cardTitle,
.card[data-bg^='bg6'] .cardTitle,
.card[data-bg^='bg7'] .cardTitle,
.card[data-bg^='bg8'] .cardTitle {
  color: var(--text-white);
}

.cardDayContainer {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-gray);
}

.card[data-bg^='bg5'] .cardDayContainer,
.card[data-bg^='bg6'] .cardDayContainer,
.card[data-bg^='bg7'] .cardDayContainer,
.card[data-bg^='bg8'] .cardDayContainer {
  color: var(--text-white);
}

.cardContentContainer {
  position: relative;
  z-index: 1;
  width: 80%;
}

.cardContent {
  font-size: 14px;
  color: var(--text-black);
}

.card[data-bg^='bg5'] .cardContent,
.card[data-bg^='bg6'] .cardContent,
.card[data-bg^='bg7'] .cardContent,
.card[data-bg^='bg8'] .cardContent {
  color: var(--text-white);
}

.emojiContainer {
  height: 20%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-white);
}

.emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
  padding: 6px 8px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
}

.card[data-bg='bg5'] .emoji,
.card[data-bg='bg6'] .emoji,
.card[data-bg='bg7'] .emoji,
.card[data-bg='bg8'] .emoji {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 744px) {
  .headerTop {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .cardContent,
  .cardTitleContainer {
    font-size: 18px;
  }
}
