.recentStudyContainer {
  width: 100%;
  max-width: 1200px;
  background-color: var(--bg-white);
  padding: 20px;

  border-radius: 20px;

  transition: all 0.3s ease;
}

.title {
  height: 10%;
  font-size: 16px;
  font-weight: 800;
  color: var(--text-black);

  transition: all 0.3s ease;
}

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 380px;
  color: var(--text-gray);
  font-size: 20px;
}

.cardListContainer {
  margin-top: 40px;
  overflow-x: auto;
  overflow-y: visible;

  padding: 10px 0;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cardListContainer::-webkit-scrollbar {
  display: none;
}

.cardList {
  display: flex;
  width: max-content;
  gap: 30px;
  overflow-y: visible;
}

.cardWrapper {
  width: 320px;

  transition: all 0.3s ease;
}

@media screen and (min-width: 744px) {
  .recentStudyContainer {
    padding: 40px;
  }

  .title {
    font-size: 24px;
  }
  .cardWrapper {
    width: 352px;
  }
}
