.filterContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 180px;
  height: 42px;

  border: 1px solid #dddddd;
  border-radius: 15px;

  margin-left: auto;
  margin-top: 12px;
  margin-bottom: 12px;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 8px;

  padding: 0 16px;

  width: 97%;

  color: var(--text-gray);
  background-color: var(--bg-white);

  cursor: pointer;
}

.selected {
  font-size: 16px;
  color: var(--text-primary);
}

.arrow {
  font-size: 20px;

  color: var(--color-gray-300);
}

.dropdownMenu {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 20px;
  background-color: var(--bg-white);

  border-radius: 15px;
  overflow: hidden;

  border: 1px solid #dddddd;

  z-index: 1000;
}

.dropdownItem {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px 16px;
  font-size: 16px;
  color: var(--text-black);
  cursor: pointer;
  transition: background-color 0.2s;

  border-bottom: 1px solid #dddddd;
}

.dropdownItem:hover {
  color: var(--text-blue);
}

@media screen and (min-width: 744px) {
  .filterContainer {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
}
