.habitCreateModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  width: min(100% - 32px, 648px); /* 좌우 마진 고려 */
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  z-index: 10000;
}
.headline {
  color: var(--color-black);
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 27px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.singleHabit {
  display: inline-block;
  min-width: 100px;
  max-width: 380px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
  padding: 5px;
  text-align: center;
  color: var(--color-gray-300);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}

.singleHabitBox {
  display: grid;
  place-items: center;
  width: 204px;
  height: 54px;
  border-radius: 20px;
  background: var(--color-gray-100);
}
.wholeHabitsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singleHabitBoxWithTrashIc {
  display: flex;
  margin-bottom: 20px;
}

.trashIcon {
  width: 24px;
  height: 24px;
  background-color: var(--color-pink-100);
  padding: 12px;
  border-radius: 35px;
  margin-left: 8px;
  box-sizing: content-box;
  cursor: pointer;
}
.createBox {
  display: grid;
  place-items: center;
  width: 260px; /* 기본 크기 */
  height: 54px;
  border-radius: 20px;
  border: 2px solid var(--color-black);
  text-align: center;
  margin-bottom: 24px;
  cursor: pointer;
}
.btns {
  bottom: 40px; /* 모달 하단에서 40px 떨어짐 */
  display: flex;
  justify-content: center;
  width: 100%;
}

.close,
.confirmRevision {
  width: 288px;
  height: 58px;
  border-radius: 16px;
  border: none;
  font-family: var(--font-jejudoldam);
  font-weight: 400;
  font-size: 18px;
  padding-top: 5px;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.close {
  background-color: var(--color-gray-200);
  margin-right: 12px;
  color: var(--color-white);
  text-shadow: 0px -2px 0px var(--color-gray-300);
}

.confirmRevision {
  background-color: var(--color-green-200);
  margin-left: 12px;
  color: var(--color-white);
  text-shadow: 0px -2px 0px var(--color-green-300);
}
@media screen and (min-width: 375px) {
  .createBox {
    width: calc(312px + (100vw - 375px) * 0.3);
    max-width: 400px;
  }
  .singleHabitBox {
    width: calc(256px + (100vw - 375px) * 0.3);
    max-width: 400px;
  }
  .headline {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 744px) {
  .singleHabitBox {
    margin-left: 50px;
  }
}
