.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.mainContainer {
  padding: 16px;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  max-width: 1248px;
  width: 90%;
  margin-top: 20px;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  height: 64px;
  margin-bottom: 24px;
  margin-top: 16px;
}
.timeTitle {
  color: var(--color-gray-300);
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 8px;
}
.timeNow {
  color: var(--color-black);
  font-size: 16px;
  padding: 8px 12px 4px 12px;
  font-weight: 500;
  border-radius: 50px;
  display: inline-flex;
  width: fit-content;
  border: 1px solid var(--color-gray-200);
  margin-bottom: 24px;
  text-align: center;
}
.habitContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  border-radius: 20px;
  border: 1px solid var(--color-gray-200);
}
.habitTopContainer {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  width: 100%;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
  height: 29px;
}
.habitTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-black);
  font-weight: 800;
  font-size: 18px;
}
.listText {
  position: absolute;
  color: var(--color-gray-300);
  right: 0%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 744px) {
  .titleContainer {
    flex-direction: row;
  }
  .topContainer {
    height: 128px;
    margin-bottom: 40px;
  }
  .linkContainer {
    gap: 16px;
  }
  .mainContainer {
    padding: 24px;
  }
  .habitTitle {
    font-size: 24px;
  }
  .title {
    font-size: 32px;
  }
  .habitContainer {
    padding: 40px 24px;
  }
  .link {
    padding: 12px 16px 12px 24px;
  }
  .mainContainer {
    margin-top: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .titleContainer {
    flex-direction: row;
  }
  .mainContainer {
    padding: 40px;
  }
  .mainContainer {
    margin-top: 39px;
  }
}
