.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.container {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  justify-content: center;
}
.mainContainer {
  padding: 16px;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  max-width: 1248px;
  width: 100%;
  margin: 20px 15px 141px 16px;
}

@media screen and (min-width: 744px) {
  .mainContainer {
    padding: 24px;
    margin: 16px 24px 79px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .mainContainer {
    padding: 40px;
    margin: 40px 24px 100px 24px;
  }
}
