.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
  background-color: var(--color-white);
  border-radius: var(--radius-sm);
  width: 344px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 24px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.closeButton {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: var(--color-green-300);
}

.message {
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-gray-300);
}

.inputContainer {
  margin-bottom: 15px;
  position: relative;
}

.inputLabel {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.passwordInputWrapper {
  position: relative;
  width: 100%;
}

.visibilityToggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-25%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: var(--radius-sm);
  margin-top: 10px;
  padding: 14px;
}

.actionButton {
  font-family: var(--font-jejudoldam);
  background-color: var(--color-green-200);
  color: var(--color-white);
  padding: 16px;
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  height: 58px;
  margin-top: 10px;
}

.toastError {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 349px;
  height: 45px;
  padding: 12px 20px;
  background-color: var(--color-pink-100);
  color: var(--error-text);
  border-radius: 12px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s, transform 0.3s;
  z-index: 2000;
}

.toastError.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
  transition: opacity 0.3s, visibility 0s, transform 0.3s;
}

@media (min-width: 744px) {
  .content {
    width: 648px;
    padding: 40px 24px;
  }

  .toastError {
    width: 391px;
    height: 47px;
    font-size: 16px;
  }
}
